name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -coverprofile c.out ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        files: c.out
        flags: unittests
        fail_ci_if_error: true
        verbose: true
